.price-button {
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
}

.price-button__direction {
  text-transform: uppercase;
  font-size: 16px;
}

.price-button__big-figure,
.price-button__tenth,
.price-button__pip {
  position: absolute;
}

.price-button__big-figure,
.price-button__tenth {
  font-size: 18px;
}

.price-button__big-figure {
  top: 15px;
  left: 0;
}

.price-button__tenth {
  top: 15px;
  right: 0;
}

.price-button__pip {
  font-size: 44px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  left: 33px;
}

.price__button-figure {
  width: 110px;
  height: 50px;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
